REDIS_BASE_URL="redis://redis:6379/0"
WORK_DIR="/Users/username/Documents/workspace_with_my_files"
OLLAMA_PORT="11434"
LM_STUDIO_PORT="1234"
BACKEND_PORT="7777"
FRONTEND_PORT="3000"
SEARXNG_PORT="8080"
CUSTOM_ADDITIONAL_LLM_PORT="11435"
# URL for the Ollama service.
# If running Ollama in a separate Docker container, you may need to use the container's IP address or a shared Docker network.
# On Linux, if Ollama is running on the host, you can often use `http://172.17.0.1:11434` (the default Docker bridge IP).
OLLAMA_URL="http://host.docker.internal:11434"
# The URL for the backend API.
# For local development, this is usually http://localhost:7777.
# For a reverse proxy setup, this would be a relative path like /api.
REACT_APP_BACKEND_URL="http://localhost:7777"
APP_HOST="localhost"
OPENAI_API_KEY='xxxxx'
DEEPSEEK_API_KEY='xxxxx'
OPENROUTER_API_KEY='xxxxx'
TOGETHER_API_KEY='xxxxx'
GOOGLE_API_KEY='xxxxx'
ANTHROPIC_API_KEY='xxxxx'